{% extends "base.html" %}

{% block head %} 
{{super()}}
<link rel="stylesheet" type="text/css" href="../static/css/form.css">

{% endblock %}

{% block main %}


<form class="center" action="" method="post" name="{{formname}}">
<div class="form-group"><label for="username">username </label>
	{{form.username(class_="form-control")}}
</div>
 {% for error in form.username.errors %}
   <div class="alert alert-danger">
  {{error}}
  </div>
  {% endfor %}

<div class="form-group">
<label for="password">password</label>
	{{form.password(class_="form-control")}}
</div>
	 {% for error in form.password.errors %}
   <div class="alert alert-danger">
  {{error}}
  {% endfor %}

</div>
{% endblock %}
</form>